
#root {
    height: 100vh;
    border: 1px solid red;
    display: grid;
    grid-template: auto 1fr  / 1fr ;
}

.container {
}

.banerCards {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 10rem;
    grid-auto-flow: column;
    grid-column-gap: 1.5rem;
    overflow-x: scroll;
    overflow-y: none;
    padding-bottom: 1rem;
}

.sliderSection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 1rem 2rem;
}

.gridMovies{
    display: grid;
    grid-template-columns: repeat(auto-fill , 10rem);
    grid-gap:1rem;
    justify-content: space-around;
}

.groupMoviesSection{
    display: grid;
    grid-template-rows: auto auto;
    margin: 2rem 2rem;
}